@import url("./dashboard.css");

.entry{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 8%;
}
.entry .entry-title{
    color: black;
    text-align: center;
    width: 80%;
    background: white;
    border: none;
    border-radius: 0;
}
.entry .entry-body{
    padding-top: 2rem;
    width: 81%;
    border: 1px solid rgba(0,0,0,0.6);
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}
.entry .entry-footer{
    width: 81.5%;
    background: rgba(126,71,41,0.8);
}
.entry .entry-footer ul{
    display: flex;
    justify-content: space-around;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media(max-width: 480px){
    html,body{
        height: 100vh;
    }
    .entry{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 8%;
    }
    .entry .entry-body{
        padding-top: 2rem;
        width: 82.2%;
        border: 1px solid rgba(0,0,0,0.6);
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
    }
    .entry .entry-footer{
        width: 84%;
        background: rgba(126,71,41,0.8);
    }
}
