@import url("./index.css");
input{
    color: black;
}
header .nav .logo{
    padding-top: 0.4rem;
}
.nav ul{
    display: flex;
    position: relative;
    left: 63%;
}
.nav ul li{
    margin-left: -17%;;
}
.card{
background: white;
border: none;
height: 60vh;
/* margin-left: 30px; */
}
.card-title{
}
.new-entry .card-title input{
    border: none;
    text-align: center;
    color: black;
}
.card-text{
    /* width: 200%; */
}
textarea{
    width: 102%;
    position: relative;
    right: 2%;
    border-left: none;
    border-right: none;
    bottom: 1.225rem;
}

.new-entry .card-footer{
    display: flex;
    margin-top: -40px;
}
.new-entry .card-footer ul{
    display: flex;
    position: relative;
    left: -12%;
}
.new-entry .card-footer ul li{
    margin-left: -26%;;
}
.new-entry .card{
    position: relative;
    left: 40%;
}
footer{
    margin: auto 0;
    background: white;
    margin-top: 7%;
}