@import url("./profile.css");
html,body{
    height: 100%;
    width: 100%;
}
.content{
    position: absolute;
    top: 40%;
    background: white;
    width:fit-content;
    left: 37%;
}
@media (max-width: 480px){
    header{
        position: absolute;
        width: 100%;
    }
    .content{
        position: absolute;
        left: 20%;
    }
    
}

