@import url("./profile.css");
html,body{
    height: 100%;
    width: 100%;
}
.content{
    position: absolute;
    top: 20%;
    background: white;
    width:fit-content;
    left: 37%;
    height: 40%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (max-width: 480px){
    header{
        position: absolute;
        width: 100%;
    }
    .content{
        position: absolute;
        left: 23%;
    }
    
}

