@import url("./profile.css");
@import url("./signup.css");

.title{
    position: relative;
    left: 4%;
}
.action{
    position: absolute;
    top: 48%;
    left: 36%;
}
.action .btn{
    width: 10rem;
    margin-right: 1rem;
}
@media (max-width: 480px){
    span.title{
        position: relative;
        left: -16%;
    }
    .action {
        position: absolute;
        top: 40%;
        left: 40%;
    }
    .action .btn{
        margin: 0.5rem;
    }

}

