@import url("./profile.css");
@import url("./signup.css");

.container{
    margin-top: 10%;
}

form{
    position: relative;
    right: 1%;
}
.action{
    position: absolute;
    top: 99%;
    left: 46%;
}
.action .btn{
    width: 10rem;
    margin-right: 1rem;
}
@media (max-width: 480px){
    html, body{
        font-size: 10px;
    }
    span.title{
        position: relative;
        left: -10%;
    }

    .title{
        position: absolute;
        left: 50%;
    }
    form{
        position: relative;
        left: 5%;
    }
    .action {
        position: absolute;
        top: 98%;
        left: 45%;
    }
    .action .btn{
        margin: 0.5rem;
    }

}

