@import url("./passwordEdit.css");

.container{
    margin-top: 2%;
    height: 80%;
}
img{
    height: 15%;
    width: 15%;
    position: relative;
    left: 55%;
}
.action{
    position: absolute;
    top: 99%;
    left: 46%;
}
@media (max-width: 480px){
    .container{
        position: relative;
        top: 5%;
        right: 5%;
    }
    .container .title{
        position: relative;
    }
    img{
        height: 15%;
        width: 15%;
        position: relative;
        left: 60%;
    }

}

