@import url("./passwordEdit.css");

.container{
    margin-top: 5%;
}
img{
    height: 15%;
    width: 15%;
    position: relative;
    left: 55%;
}
.action{
    position: absolute;
    top: 99%;
    left: 45%;
}
@media (max-width: 480px){
    .container{
        position: relative;
        right: 1%;
    }
    img{
        height: 15%;
        width: 15%;
        position: relative;
        left: 63%;
    }

}

