@import url("./dashboard.css");
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    height: 80%;
}
.content .image{
    margin: 1rem;
}
.content-title{
    align-self: center;
    font-family: Oswald;
    font-weight: bold;
    font-size: 3rem;
}
.content-body{
    display:flex;
    flex-direction: column;
    align-self: center;
    font-family: Oswald;
    font-size: 2rem;
    position: relative;
}
.content-body .btn{
    margin: 1rem;
}
.content-body a{
    font-family: Oswald;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color:black;
    opacity: 0.7;
    text-decoration-line: underline;
}

.btn a{
    color: white;
    text-decoration: none;
    opacity: 1;
}
footer{
    position: absolute;
    bottom: 0;
}

@media (max-width: 480px){
    html, body{
        font-size: 10px;
    }

    .container, .content{
        position: relative;
        top: 1%;
    }
    
}
