@import url("./signup.css");
.content{
    padding-top: 5%;
}
.content .title{
    position: relative;
    left: 8%;
}
form a{
    font-family: Oswald;
    font-weight: lighter;
    font-size: 1.5rem;
    color: rgba(126,71,41,1);
    margin-left: 53%;
    position: relative;
    top:10px;
    left: 1rem;
}
.icon-small,form input,.title{
    margin-left: 38%;
    width: 50%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media(max-width:480px){
    .content{
        padding-top: 25%;
    }
    form a{
        margin-left: 45%;
        font-size: 1.3rem;
    }
    .content .title{
        position: relative;
        left: -2%;
    }

}

